@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* reset css */
body{
    font-family: 'roboto', arial, helvetica, sans-serif;
}

h1,h2,h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: darkorange;
}
p {
    font-weight: 600;
    font-size: 18px;
    color: darkblue;
}


.prp1{
    font-size: 20px;
    color: fuchsia;
    font-weight: 600;

}

.prf1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.prf2{
    font-family: 'Courier New', Courier, monospace;
}

.prf3{
    font-family: 'Times New Roman', Times, serif;
}

.prf4{
    font-family: Georgia, 'Times New Roman', Times, serif, Times, serif;
}



.cPrp1{
    font-size: 28px;
    color: #48C404;
    
}

.cPrp1 strong {
    color: yellow;
}
.cPrp1 b{
    font-size: 48px;
}



.divBorder{
    border: 2px solid black;
    padding: 10px;
   
}
